{% extends 'restaurant/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Enter Text" aria-label="Search">
        <button class="btn btn-outline-info rounded" type="submit">Search</button>
    </form>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/r1.jpg' %}">
            <div class="box-element products">
                <h5 style="display: inline;"><strong>Paradise</strong></h5>
                <h4 class="price-tag btn btn-success"><span class="me-1" style="color: #fff;">&starf;</span>4.5</h4>
                <p style="margin-bottom: 0px;">Belgian deserts , Fast food finger</p>
                <p>Opens at 10am</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Book
                    Table</button>
                <a href="#"><button class="btn btn-outline-success add-btn update-cart">View</button></a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/r2.jpg' %}">
            <div class="box-element products">
                <h5 style="display: inline;"><strong>Paradise</strong></h5>
                <h4 class="price-tag btn btn-success"><span class="me-1" style="color: #fff;">&starf;</span>4.5</h4>
                <p style="margin-bottom: 0px;">Belgian deserts , Fast food finger</p>
                <p>Opens at 10am</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Book
                    Table</button>
                <a href="#"><button class="btn btn-outline-success add-btn update-cart">View</button></a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/r3.jpg' %}">
            <div class="box-element products">
                <h5 style="display: inline;"><strong>Paradise</strong></h5>
                <h4 class="price-tag btn btn-success"><span class="me-1" style="color: #fff;">&starf;</span>4.5</h4>
                <p style="margin-bottom: 0px;">Belgian deserts , Fast food finger</p>
                <p>Opens at 10am</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Book
                    Table</button>
                <a href="#"><button class="btn btn-outline-success add-btn update-cart">View</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/r5.jpg' %}">
            <div class="box-element products">
                <h5 style="display: inline;"><strong>Paradise</strong></h5>
                <h4 class="price-tag btn btn-success"><span class="me-1" style="color: #fff;">&starf;</span>4.5</h4>
                <p style="margin-bottom: 0px;">Belgian deserts , Fast food finger</p>
                <p>Opens at 10am</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Book
                    Table</button>
                <a href="#"><button class="btn btn-outline-success add-btn update-cart">View</button></a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/r6.jpg' %}">
            <div class="box-element products">
                <h5 style="display: inline;"><strong>Paradise</strong></h5>
                <h4 class="price-tag btn btn-success"><span class="me-1" style="color: #fff;">&starf;</span>4.5</h4>
                <p style="margin-bottom: 0px;">Belgian deserts , Fast food finger</p>
                <p>Opens at 10am</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Book
                    Table</button>
                <a href="#"><button class="btn btn-outline-success add-btn update-cart">View</button></a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/r4.jpg' %}">
            <div class="box-element products">
                <h5 style="display: inline;"><strong>Paradise</strong></h5>
                <h4 class="price-tag btn btn-success"><span class="me-1" style="color: #fff;">&starf;</span>4.5</h4>
                <p style="margin-bottom: 0px;">Belgian deserts , Fast food finger</p>
                <p>Opens at 10am</p>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Book
                    Table</button>
                <a href="#"><button class="btn btn-outline-success add-btn update-cart">View</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}